# Default ignored files
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/clases/Clase25_objetos2/.idea/shelf/
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/clases/Clase25_objetos2/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/clases/Clase25_objetos2/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/clases/Clase25_objetos2/.idea/dataSources/
/../../../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/clases/Clase25_objetos2/.idea/dataSources.local.xml
