# Default ignored files
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/.idea/shelf/
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/.idea/dataSources/
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/DoctoradoPUC/IntroduccionProgramacion/2025-1/CodigosClases/.idea/dataSources.local.xml
